*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ItemsContainer {
  display: flex;
  justify-content: center;
  align-items: end;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px;
}
