*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: grid; 
  grid: 1fr 2fr / 1fr;
  align-items: center;
  height: 100vh;
}

.ItemsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: self-start;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px;
}
